[Unit]
Description=FastAPI Home Automation API
After=network.target

[Service]
User=ubuntu
EnvironmentFile=-/etc/profile.d/iot_env.sh
WorkingDirectory=/home/ubuntu/src/backend/backend
ExecStart=/usr/bin/python3 -m uvicorn main:app --host 0.0.0.0 --port 8000
Restart=always
RestartSec=5


[Install]
WantedBy=multi-user.target
